.main{
    width: 100%;
}


.header{
    background-color: #965A1B;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 100px;
    margin-bottom: 50px;
}
.headerSection{
    display: flex;
    width: 60%;
    justify-content: space-between;
    height: 90px;
    margin-top: -45px;
}

.headerSection img {
    height: 30%;
}

.pessoasFila{
    background-color: white;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.paesVendidos{
    background-color: white;
    width: 100%;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
}
.entrada{
    background-color: #5F3305;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: white;
    border-radius: 5px; 
}

.sec{
    background-color: #E5CF94;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.rodape{
    background-color: #E5CF94;
    display: flex;
    justify-content: center;
    height: 100px;
}
.pessoasNaFila{
    width: 60%;
    flex-direction: column;
    margin-top: 60px;
}
.parteBranca{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    align-items: center;
    border-radius: 5px; 
    margin-top: 10px;
}
.paes{
    display: flex;
    gap: 10px;
    font-size: 12px;
    padding-top: 6px;
}
.pessoasNaFila img{
    height: 20px;
}
.adicionarPessoas{
    color: inherit;
    text-decoration: none;
    color: #5F3305;
}

.fundo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #E5CF9480;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    position: relative;
    width: 500px;
    height: 270px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    box-sizing: border-box;
    color: #5F3305;
    justify-content: space-between;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-radius: 5px;
}
.inp{
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    height: 44px;
    padding-left: 25px;
    box-sizing: border-box;
    color: #7D7D7D;
}
.botoes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.botoes button{
    width: 48%;
    height: 50px;
}
.but{
    background-color: white;
    color: red;
    border-color: red;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
    
}
.but2{
    background-color: #5F3305;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.but2:hover{
    background-color: #5F3305;
    transform: scale(1.1);
}
.but:hover{
    background-color: white;
    transform: scale(1.1);
}

