@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,300&family=Raleway:wght@400;500&display=swap');


/*reiniciando*/
* {
    margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; font-family: 'Open Sans', sans-serif; 
}
nav, ul{list-style: none;}
a {  text-decoration: none; cursor: pointer; opacity: 0.9;}
a:hover{opacity: 1;}


/*cabeçalho do projeto*/
header{
    background-color: #ffffff;
    width: 100%;
    /*position: absolute; /*porque ele vai ficar por cima do efeito hero vamos descobrir oq eh*/
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
header > a{
    color: black;
}

header h1{
    width: 281px;
    font-size: 48px;
    font-weight: 700;
}
span{
    color: #7ED321;
}
header nav{
    display: flex; /* os itens da lista estavam em pe e ficaram deitados*/
    align-items: center;

}
header li a{
    color: #000000;
    font-weight: bolder;
}
header li{
    margin: 0 15px;
}
header li:first-child{
    margin-left: 0;
}
header li:last-child{
    margin-right: 0;
}

button{
    width: 151px;
    height: 40px;
    top: 40px;
    left: 1274px;
    border-radius: 15px;
    border: none;
    background-color: #7ED32166;
    color: #1C4701;
    font-weight: bolder;
}

/*corpo do projeto*/

.titulo{
    position: absolute;
    width: 216px;
    height: 65px;
    top: 181px;
    left: 612px;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;

}
.nomelab{
    position: absolute;
    width: 124px;
    height: 50px;
    top: 283px;
    left: 159px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}
.idadelab{
    position: absolute;
    width: 124px;
    height: 50px;
    top: 346px;
    left: 160px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}
.emaillab{
    position: absolute;
    width: 124px;
    height: 50px;
    top: 409px;
    left: 159px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}
.msglab{
    position: absolute;
    width: 124px;
    height: 50px;
    top: 472px;
    left: 160px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}
#nome{
    position: absolute;
    width: 419px;
    height: 43px;
    top: 283px;
    left: 297px;
    border-radius: 7px;
    border: 1px solid #9F9F9F;

}
#idade{
    position: absolute;
    width: 418px;
    height: 43px;
    top: 346px;
    left: 298px;
    border-radius: 7px;
    border: 1px;
    border: 1px solid #9F9F9F
}
#email{
    position: absolute;
    width: 419px;
    height: 43px;
    top: 409px;
    left: 297px;
    border-radius: 7px;
    border: 1px;
    color: linear-gradient(0deg, #9F9F9F, #9F9F9F),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #9F9F9F;
}
#msg{
    position: absolute;
    width: 418px;
    height: 160px;
    top: 472px;
    left: 298px;
    border-radius: 7px;
    border: 1px;
    color: linear-gradient(0deg, #9F9F9F, #9F9F9F),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #9F9F9F;
}
.btn{
    position: absolute;
    width: 141px;
    height: 42px;
    top: 652px;
    left: 574px;
    border-radius: 10px;
    background-color: #7ED321;

}
.divimg{
    position: absolute;
    width: 582px;
    height: 436px;
    top: 270px;
    left: 717px;
}
/*.img{
    width: 479.85px;
    height: 342.22px;
    top: 46.55px;
    left: 51.15px;
    
}*/