@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,300&family=Raleway:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

/*cabeçalho do projeto*/
body{
    font-family: 'Open Sans', sans-serif;
}
span{
    color: #7ED321;
}
.nav-cont{
    background: #ffffff;
    height: 120px;
}
.enquad{
    max-width: 1400px; /*garante q a lista fique na lateral*/
    margin: 0 15px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px; /*espç do de cima p ul*/
}
nav ul{
    display: flex;
}
nav .logo{
    font-family: 'Open Sans', sans-serif;
    width: 281px;
    height: 65px;
    top: 27px;
    left: 15px;
}
nav > div > h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
}


.navitems a{
    list-style: none;
    margin-right: 50px; /*espaç entre a lista*/
    color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: bolder;
}

header > div > nav > ul > a > button{
    width: 151px;
    height: 30px;
    top: 30px;
    left: 1274px;
    border-radius: 8px;
    border: none;
    color: #1C4701;
    background-color: #7ED32166;
    font-weight: bold;
}


/*corpo do projeto*/
main > div > p{
    width: 371px;
    height: 351px;
    top: -28px;
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 75px;
}

.cabecont{
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main > div > a > button{
    width: 220px;
    height: 51px;
    border-radius: 15px;
    background-color: #7ED321;
    color: #1C4701;
    border: none;
    font-weight: bolder;
    font-size: 16px;
}