@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:ital,wght@0,500;1,300&family=Raleway:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/*DESKTOP*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1A1B19;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
}
.sec{ 
    display: flex;
    align-items: center;
    /*gap: -4.74vh;*/
    border-radius: 20px 0px;
    width: 100%;
}
.imglado{
    width: 20vw;
    height: 50vh;
    margin-right: -36px;
    border-radius: 20px 0px 0px 20px;
    border: 0.75vh solid #FFFDFD;
    object-fit: cover;
}

.tituloEautor{ 
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: flex-start;
    border-radius: 20px;
    background: #fffdfd; 
    width: 70%;
    height: 351px;
    padding-left: 15px;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.35vh;
    color: #132305;
    padding: 1.97vh;
    height: 60%;
}
h1{
    color: #132305;
    font-size: 32px;
    padding-top: 1.63vh;
    font-weight: 700;   
}
p{
    align-self: stretch;
    color: #132305;
    font-family: 'Inter', sans-serif;
    font-size: 2.20vh; /*ou 18 ou usa text-align*/
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   
}
.perfilautor{
    display: flex;
    gap: 1.38vh;
    object-fit: cover;
}
.nome{
    /*width: 52px; */
    color: #132305;
    font-size: 2.37vh; 
    font-weight: bolder;
    line-height: 150%;  /* 27px */
}
.data{
    color: #132305;
    font-size: 2.10vh;
    /*font-style: normal;  */
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.modal{
    display: flex;
    margin-bottom: 6.58vh;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.58vh;
    margin-right: 20px;
}
.btn{
    display: flex;
    width: 6.32vh;
    height: 6.32vh;
    padding: 1.31vh;
    justify-content: center;
    align-items: center;
    gap: 1.31vh;
    /*flex-shrink: 0; */
    border-radius: 60px;
    background-color: #CCDBCB;
    border: none;
    cursor: pointer;
}
.share{
    display: flex;
    padding: 1.05vh 1.58vh;
    gap: 1.58vh;    
    align-self: stretch;
    border-radius: 100px;
    background: #CCDBCB;
    font-family: 'Inter', sans-serif;
    color: #103410;
    visibility: hidden;
}



/*MOBILE*/

@media (max-width: 400px) {
    body{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;

    }
    .sec{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
    }
    .imglado{
        width: 56.16vh;
        height: 26.35vh;
        border: 5px solid #FFFDFD;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    .tituloEautor{ 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 55.50vh;
        margin-left: 25px;
        margin-top: -3.2vh;
        height: 66vh;
    }
    .texto{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        color: #132305;
        padding: 2.97vh;
        height: 63%;
    }
    .rodape{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 48.78vh;
        padding-left: 1.31vh;
        height: 26vh;
    }

}
